body {
    background-image: url('https://wallpapercave.com/wp/wp2645350.jpg');
    background-size: auto 100vh;
    font-family: Segoe UI;
    height: 100vh;
  }
  
  a {
    color: #1C1C1C;
    text-decoration: none;
  }
  
  a:hover {
    font-family: Segoe UI Semibold;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  .site-title {
    color: #1C1C1C;
    text-align: center;
  }
  
  .site-subtitle {
    font-style: italic;
    text-align: center;
  }